<div th:fragment="content">
    <section class="products-section">
        <h3>Most popular</h3>
        <div class="product-grid">
            <div class="product-card">
                <img src="/img/figure-black/black-bishop.png" alt="Название товара 1">
                <h4>Название товара 1</h4>
                <p class="price">999 $</p>
                <a href="#" class="btn btn-secondary">Buy</a>
            </div>
            <div class="product-card">
                <img src="/img/figure-black/black-rook.png" alt="Название товара 2">
                <h4>Название товара 2</h4>
                <p class="price">1299 $</p>
                <a href="#" class="btn btn-secondary">Buy</a>
            </div>
            <div class="product-card">
                <img src="/img/figure-black/black-pawn.png" alt="Название товара 3">
                <h4>Название товара 3</h4>
                <p class="price">499 $</p>
                <a href="#" class="btn btn-secondary">Buy</a>
            </div>
            <div class="product-card">
                <img src="/img/figure-black/black-knight.png" alt="Название товара 3">
                <h4>Название товара 3</h4>
                <p class="price">499 $</p>
                <a href="#" class="btn btn-secondary">Buy</a>
            </div>
            <div class="product-card">
                <img src="/img/figure-black/black-queen.png" alt="Название товара 3">
                <h4>Название товара 3</h4>
                <p class="price">499 $</p>
                <a href="#" class="btn btn-secondary">Buy</a>
            </div>
            <div class="product-card">
                <img src="/img/figure-black/black-king.png" alt="Название товара 3">
                <h4>Название товара 3</h4>
                <p class="price">499 $</p>
                <a href="#" class="btn btn-secondary">Buy</a>
            </div>
        </div>
    </section>
</div>
